<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rekap Berdasarkan Kecamatan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Navigasi -->
    <div class="navigation">

        <h1 class="left"><a href="/">Rekap Data Dashboard</a></h1>
        <div class="right">
            <a href="/lihat-data-terakhir" class="main-button">Lihat Rekap Terakhir</a>
            <div class="dropdown">
                <button class="dropbtn">Pilih Tabel Rekap :</button>
                <div class="dropdown-content">
                    <a href="/total-students">Total Siswa per Kabupaten/Kota</a>
                    <a href="/gender-students">Rekap Siswa Berdasarkan Jenis Kelamin</a>
                    <a href="/rekap-agama">Rekap Berdasarkan Agama</a>
                    <a href="/rekap-kecamatan">Rekap Berdasarkan Kecamatan</a>
                    <a href="/rekap-sekolah">Rekap Berdasarkan Sekolah</a>
                </div>
            </div>
        </div>
    </div>
    <a href="/" class="back-link">Kembali ke Halaman Utama</a>

    <h1>Rekap Berdasarkan Kecamatan</h1>
    <table>
        <thead>
            <tr>
                <th>Kecamatan</th>
                <th>Jumlah</th>
                <th>Tanggal</th>
            </tr>
        </thead>
        <tbody>
            {% for kecamatan in kecamatan_stats %}
            <tr>
                <td>{{ kecamatan[0] }}</td>
                <td>{{ kecamatan[1] }}</td>
                <td>{{ kecamatan[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/" class="back-link">Kembali ke Halaman Utama</a>

</body>
</html>
